<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">

  <title>The Green Machine Exercise Catalog</title>

  <!-- Adding in Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Orbitron|Ubuntu" rel="stylesheet">

  <!-- Setting the viewport for responsiveness -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Linking CSS Stylesheet -->
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body>

  <!-- This is the header used across all pages of the app -->
  <header class="header-container">

    <!-- Main Title -->
    <h1 class="title">The Green Machine Exercise Catalog</h1>

    <!-- Dynamic Login and logout buttons in Nav bar depending on if user is logged in -->
    <nav class="nav-main">
      <ul class="nav-container">

        {% if 'username' not in session %}
        <!--If not logged in, show Login button -->
        <li class="login-button login-logout"><a href="{{ url_for('login') }}">LOGIN</a></li>

        {% else %}
        <!--If logged in, show First Name and Logout button -->
        <li class="welcome-name">Welcome {{ first_name }}!</li>
        <li class="login-logout"><a href="{{ url_for('gdisconnect') }}">LOGOUT</a></li>
        {% endif %}
      </ul>
    </nav>

  </header>

  <main class="main-body">

    <h1>Edit Exercise Information for {{ exercises.name }}</h1>

    <!-- Form to edit an exercise including name, description, and
    YouTube embed video url -->
    <form class="add-edit-forms" action='#' method='post'>
      <p>Edit Name: </p>
      <input class="form-fields" type="text" name='name' value= '{{ exercises.name }}'>
      <p>Edit Description:</p>
      <textarea class="form-fields" type="textarea" rows="7" cols="80"
      name='description'>{{ exercises.description }}</textarea>
      <p>Edit YouTube *Embed URL:</p>
      <input class="form-fields" type="text" name='video_url' value= '{{ exercises.video_url }}'>
      </br>
      <input class="form-button button-styling" type='submit' value='Save'>
    </form>
    <!-- End form -->

    <!-- Notes on where to find the correct YouTube Embed URL -->
    <p class="embed-notes">*Note: the YouTube URL must be for embedding. To find this link, visit your YouTube video,
    click on the Share button, then Embed, then find the URL in the code provided (just the URL) and copy into the above field.</p>
    </br>

    <!-- Button to go back to previous page -->
    <a class="cancel-button" href='{{ url_for('show_exercise_description',
            primary_category_id = primary_category_id,
            secondary_id = secondary_id,
            exercise_name = exercises.name).replace('%20','-') }}'>Cancel</a>

  </main>

</body>
</html>
