<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">

  <title>The Green Machine Exercise Catalog</title>

  <!-- Adding in Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Orbitron|Ubuntu" rel="stylesheet">

  <!-- Setting the viewport for responsiveness -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Linking CSS Stylesheet -->
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body>

  <!-- This is the header used across all pages of the app -->
  <header class="header-container">

    <!-- Main Title -->
    <h1 class="title">The Green Machine Exercise Catalog</h1>

    <!-- Dynamic Login and logout buttons in Nav bar depending on if user is logged in -->
    <nav class="nav-main">
      <ul class="nav-container">

        {% if 'username' not in session %}
        <!--If not logged in, show Login button -->
        <li class="login-button login-logout"><a href="{{ url_for('login') }}">LOGIN</a></li>

        {% else %}
        <!--If logged in, show First Name and Logout button -->
        <li class="welcome-name">Welcome {{ first_name }}!</li>
        <li class="login-logout"><a href="{{ url_for('gdisconnect') }}">LOGOUT</a></li>
        {% endif %}
      </ul>
    </nav>

  </header>

  <main class="main-body">

    <!-- Display all Exercises name/link -->
    <section class="exercise-main">

      <!-- Display all Exercises name/link -->
      <h1 class="title-exercise"> {{ exercise.name }} </h1>

      <!-- Display embedded YouTube video of the exercise -->
      <iframe class="embed-video" src="{{  exercise.video_url }}"
      frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

      <!-- Exercise Description -->
      <p class="description">{{ exercise.description }}</p>

    </section>

    <!-- Go back to previous page button -->
    <form action="{{ url_for('show_exercises_in_category', primary_category_id = primary_category_id,
    secondary_id = secondary_id.id) }}">
      <input class="go-back" type='submit' value='Go Back'>
    </form>

  </main>

</body>
</html>
